/* imports */

/* Rubik [Semi-Bold 600] */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");

/* Rubik [Regular 400] */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* page load */

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* general */

body {
  font-family: "Rubik", sans-serif;
  background: #0a0f24;
  color: #ffffff;
  overflow-x: hidden;
}

a {
  color: #ffffff;
  text-decoration: none;
}

input {
  position: relative;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  color: #5f5f5f;
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px;
  border-radius: 4px;
  outline: 2px solid #a97bffa2;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5.5%;
}

input:focus {
  outline: 2px solid #a97bff;
}

/* nav-button (these will be displayed on all pages) */

.nav-button--selected {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  margin: 20px;
  border-bottom: 3px solid #a97bff;
  padding-bottom: 5px;
  z-index: 1;
}

.nav-button--notselected {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  margin: 20px;
  padding-bottom: 5px;
  z-index: 1;
}

.nav-button--notselected:hover {
  border-bottom: 3px solid #a97bff86;
}

.nav-button--arrow {
  position: relative;
  display: inline-block;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  margin: 20px;
  z-index: 1;
}

/* Sign up and log in related CSS */

.buttons--wrapper {
  margin-top: -70px;
  text-align: right;
}

.log-in--button {
  position: relative;
  display: inline-block;
  border: 2px solid #a97bff86;
  border-radius: 4px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  margin: 10px;
}

.log-in--button---invis {
  display: none;
}

.log-in--button:hover {
  background: #a97bff86;
}

/* forgot password CSS */

.log-in--pass--wrapper {
  text-align: center;
}

.log-in--pass {
  position: relative;
  display: inline-block;
  font-size: 17px;
  color: #ffffff;
}

.log-in--pass---link {
  position: relative;
  display: inline-block;
  font-size: 17px;
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
  color: #a97bff;
}

/* Rest of buttons */

.sign-up--button {
  position: relative;
  display: inline-block;
  border: 2px solid #a97bff86;
  border-radius: 4px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  margin: 10px;
}

.sign-up--button---invis {
  display: none;
}

.sign-up--button:hover {
  background: #a97bff86;
}

/* background */

.bg {
  position: absolute;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

/* home.js [ src/pages/home.js ] */

.heading--wrapper {
  margin-top: 20%;
  margin-left: 5%;
}

.heading {
  display: inline-block;
  position: relative;
  font-weight: 700;
  color: #ffffff;
  font-size: 100px;
}

/* Addon text and anims */

.heading--addon---1 {
  position: relative;
  font-weight: 700;
  color: #ffffff;
  margin-left: 10px;
  margin-top: -10px;
  font-size: 25px;
  animation: addon1 1s;
}

@keyframes addon1 {
  0% {
    margin-left: 0px;
  }
  30% {
    margin-left: 10px;
  }
  100% {
    margin-left: 10px;
  }
}

.heading--addon---2 {
  position: relative;
  font-weight: 700;
  color: #ffffff;
  margin-left: 10px;
  margin-top: -10px;
  font-size: 25px;
  animation: addon2 1s;
}

@keyframes addon2 {
  0% {
    margin-left: 0px;
  }
  30% {
    margin-left: 10px;
  }
  100% {
    margin-left: 10px;
  }
}

.heading--addon---3 {
  position: relative;
  font-weight: 700;
  color: #ffffff;
  margin-left: 10px;
  margin-top: -10px;
  font-size: 25px;
  animation: addon3 1s;
}

@keyframes addon3 {
  0% {
    margin-left: 0px;
  }
  30% {
    margin-left: 10px;
  }
  100% {
    margin-left: 10px;
  }
}

.heading--addon---4 {
  position: relative;
  font-weight: 700;
  color: #ffffff;
  margin-left: 10px;
  margin-top: -10px;
  font-size: 25px;
  animation: addon4 1s;
}

@keyframes addon4 {
  0% {
    margin-left: 0px;
  }
  30% {
    margin-left: 10px;
  }
  100% {
    margin-left: 10px;
  }
}

.next--arrow---wrapper {
  margin-top: -100px;
  text-align: right;
}

.next--arrow---wrapper:hover {
  margin-right: 25px;
}

.next--arrow {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
}

.heading-desc {
  position: relative;
  font-weight: 400;
  color: #a97bff;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 5.5%;
}

.source {
  position: relative;
  display: inline-block;
  font-size: 10px;
  margin-left: 5.5%;
  color: #ffffff;
}

.source--link {
  position: relative;
  display: inline-block;
  font-size: 10px;
  margin-left: 5px;
  cursor: pointer;
  text-decoration: underline;
  color: #e0e0e0;
}

.browse-link {
  position: relative;
  font-weight: 700;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  margin-left: 5.5%;
  margin-top: 5px;
  margin-bottom: 215px;
}

.browse-link:hover {
  text-decoration: underline;
}

.account-icon--wrapper {
  position: relative;
  cursor: pointer;
  margin: 10px;
}

/* browse.js [ src/pages/browse.js ] */

.browse-title--wrapper {
  margin-top: 10%;
  margin-left: 5%;
}

.browse-title {
  position: relative;
  display: inline-block;
  font-weight: 700;
  color: #ffffff;
  font-size: 75px;
}

.browse-title--desc {
  position: relative;
  font-weight: 400;
  color: #a97bff;
  font-size: 20px;
  margin-left: 5.5%;
  margin-bottom: 20px;
}

.filter {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  padding-bottom: 14px;
  border: 2px solid #a97bff86;
}

.filter:hover {
  background: #a97bff86;
}

.atoz {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #a97bff86;
  border-radius: 4px;
  padding: 10px;
}

.atoz:hover {
  background: #a97bff86;
}

.atoz-invis {
  display: none;
}

.go-button {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  margin-left: 20px;
  padding-bottom: 14px;
  border: 2px solid #a97bff86;
}

.go-button:hover {
  background: #a97bff86;
}

.go-button-RENDER {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  margin-left: 20px;
  padding-bottom: 14px;
  border: 2px solid #a97bff86;
}

.go-button-RENDER:hover {
  background: #a97bff86;
}

.go-button-invis {
  display: none;
}

/* Search error */

.searchError {
  position: relative;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 50px;
}

.searchErrorInvis {
  display: none;
}

/* gametile.js [ src/components/gametile.js ] */

.game-tile--wrapper {
  display: block;
  margin-left: 60px;
}

.gametile {
  position: relative;
  display: inline-block;
  background: #25293b44;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  margin: 20px;
  margin-top: 40px;
  width: 250px;
  height: 430px;
}

.gametile:hover {
  background: #25293ba1;
}

.gametile--name {
  position: relative;
  font-weight: 700;
  font-size: 35px;
  margin-top: 3px;
}

/* ALL games [ src/pages/games/____.js ] */

.game--name {
  position: relative;
  text-align: center;
  margin-top: 10%;
  font-weight: 700;
  font-size: 75px;
  z-index: 1;
}

.game--desc {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #a97bff;
  max-width: 30ch;
  font-weight: 700;
  font-size: 20px;
}

/* game tags */

.game-tag--wrapper {
  text-align: center;
  margin: 20px;
}

.game-tag--dot {
  position: relative;
  display: inline-block;
  background: #0a0f24;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* tag variations */

.game-tag--yellow {
  position: relative;
  display: inline-block;
  background: #fdff7b;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #0a0f24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.game-tag--red {
  position: relative;
  display: inline-block;
  background: #ff7b7b;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #0a0f24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.game-tag--green {
  position: relative;
  display: inline-block;
  background: #91ff7b;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #0a0f24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.game-tag--blue {
  position: relative;
  display: inline-block;
  background: #7bebff;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #0a0f24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.game-tag--pink {
  position: relative;
  display: inline-block;
  background: #ff7bf8;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #0a0f24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

/* game bg */

.game--bg {
  position: absolute;
  opacity: 0.2;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  transform: scale(3);
  margin-left: 43.5%;
}

.game-bg--fade {
  height: 100%;
  width: 100%;
  position: absolute;
  background: -webkit-linear-gradient(
    left,
    rgba(10, 15, 36.65) 0%,
    rgba(10, 15, 36, 0) 20%,
    rgba(10, 15, 36, 0) 80%,
    rgba(10, 15, 36.65) 100%
  );
}

/* the add button for tags */

.add--button {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  padding-bottom: 14px;
  border: 2px solid #a97bff86;
}

.add--button:hover {
  background: #a97bff86;
}

/* client.js [ src/components/client.js ] */

.client--wrapper {
  text-align: center;
}

.client-tab {
  position: relative;
  display: inline-block;
  background: #25293b44;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px;
  margin: 10px;
  height: 200px;
}

.client-tab:hover {
  background: #343a4d9d;
}

.client-tab--image {
  opacity: 0.2;
}

.client-tab--name {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  margin-top: -210px;
}

.client-tab--desc {
  position: relative;
  font-weight: 700;
  max-width: 25ch;
  font-size: 20px;
  color: #a97bff;
}

/* client tags */

.client-tag--wrapper {
  text-align: center;
  margin: 10px;
}

.client-tag--dot {
  display: inline-block;
  background: #0a0f24;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* [client] tag variations */

.client-tag--yellow {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #fdff7b;
  margin-right: 10px;
  margin-top: 10px;
  color: #0a0f24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.client-tag--yellow---invis {
  display: none;
}

.client-tag--red {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #ff7b7b;
  margin-right: 10px;
  margin-top: 10px;
  color: #0a0f24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.client-tag--red---invis {
  display: none;
}

.client-tag--green {
  position: relative;
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #91ff7b;
  margin-right: 10px;
  margin-top: 10px;
  color: #0a0f24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.client-tag--green---invis {
  display: none;
}

.client-tag--blue {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #7bebff;
  margin-right: 10px;
  margin-top: 10px;
  color: #0a0f24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.client-tag--blue---invis {
  display: none;
}

.client-tag--pink {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #ff7bf8;
  margin-right: 10px;
  margin-top: 10px;
  color: #0a0f24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.client-tag--pink---invis {
  display: none;
}

/* button wrapper */

.button--wrapper {
  text-align: center;
}

/* sign-up & log-in [ src/pages/signup.js + src/pages/login.js ] */

.form-heading {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 5%;
  font-weight: 700;
  font-size: 75px;
  color: #ffffff;
}

.form-heading--desc {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  color: #a97bff;
}

.form-input--wrapper---a {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.form-input--wrapper---b {
  display: block;
  text-align: center;
}

.password-vis--button {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: #ffffff;
  border: 2px solid #a97bff86;
  border-radius: 4px;
}

.password-vis--button:hover {
  background: #a97bff86;
}

.form-confirm--button {
  position: relative;
  text-align: center;
  margin: 10px auto;
  width: 200px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  color: #ffffff;
  border: 2px solid #a97bff86;
  border-radius: 4px;
}

.form-confirm--button:hover {
  background: #a97bff86;
}

/* All form errors */

.main-form--error {
  text-align: center;
  position: relative;
  margin: 10px;
  font-size: 20px;
  color: #e48181;
}

.main-form--error---invis {
  display: none;
}

/* Links */

.form-other--wrapper {
  margin-top: 20px;
  position: relative;
  text-align: center;
}

.form-other--text {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-size: 17px;
}

.form-other--link {
  position: relative;
  display: inline-block;
  color: #a97bff;
  text-decoration: underline;
  margin-left: 5px;
  font-size: 17px;
}

/* Reset.js CSS [ src/pages/reset.js ] */

.reset---wrapper {
  text-align: center;
}

.reset--title {
  position: relative;
  font-size: 75px;
  margin-top: 100px;
  color: #ffffff;
  font-weight: 700;
}

.reset--desc {
  position: relative;
  display: block;
  margin: 10px auto;
  font-size: 20px;
  max-width: 30ch;
  color: #a97bff;
  font-weight: 700;
}

.reset--link---text {
  position: relative;
  display: inline-block;
  font-size: 17px;
  color: #ffffff;
}

.reset--link {
  position: relative;
  display: inline-block;
  font-size: 17px;
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
  color: #a97bff;
}

.reset--link---help {
  position: relative;
  margin: 10px auto;
  max-width: 40ch;
  font-size: 12px;
  color: #ffffff;
}

/* account.js CSS [ src/pages/account.js ] */

.account--wrapper {
  position: relative;
  text-align: center;
}

.account-title {
  font-weight: 700;
  margin-top: 75px;
  color: #ffffff;
  font-size: 75px;
}

.section-desc {
  position: relative;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 700;
  color: #a97bff;
}

.section-name {
  position: relative;
  margin-bottom: 10px;
  font-size: 20px;
  color: #ffffff;
}

.user--action---button {
  position: relative;
  border: 2px solid #a97bff86;
  border-radius: 4px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px auto;
  cursor: pointer;
  font-weight: 400;
  color: #ffffff;
  width: 200px;
  font-size: 20px;
}

.user--action---button:hover {
  background: #a97bff86;
}

/* Verify action box */

.verify---wrapper {
  position: relative;
  margin: 20px;
}

.verify---wrapper----invis {
  display: none;
}

.verify--box {
  position: relative;
  text-align: center;
  margin: 0px auto;
  background: #25293b44;
  padding: 20px;
  border-radius: 4px;
  width: 400px;
}

.verify--box---title {
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}

.verify--box---warning {
  font-size: 20px;
  margin: 10px;
  color: #fa7373;
}

.user--action---button---cancel {
  position: relative;
  border: 2px solid #ff7b7b86;
  border-radius: 4px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px auto;
  cursor: pointer;
  font-weight: 400;
  color: #ffffff;
  width: 200px;
  font-size: 20px;
}

.user--action---button---cancel:hover {
  background: #ff7b7b86;
}

.user--action---button---continue {
  position: relative;
  border: 2px solid #91ff7b86;
  border-radius: 4px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px auto;
  cursor: pointer;
  font-weight: 400;
  color: #ffffff;
  width: 200px;
  font-size: 20px;
}

.user--action---button---continue:hover {
  background: #91ff7b86;
}

/* change email CSS */

.input--tick {
  position: relative;
  display: inline-block;
  border: 2px solid #91ff7b86;
  border-radius: 4px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px auto;
  margin-left: 20px;
  cursor: pointer;
  font-weight: 400;
  color: #ffffff;
  width: 25px;
  font-size: 20px;
}

.input--cross {
  position: relative;
  display: inline-block;
  border: 2px solid #ff7b7b86;
  border-radius: 4px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px auto;
  margin-left: 20px;
  cursor: pointer;
  font-weight: 400;
  color: #ffffff;
  width: 25px;
  font-size: 20px;
}

.input--tick---invis {
  display: none;
}

.input--cross---invis {
  display: none;
}

.input--tick:hover {
  background: #91ff7b86;
}

.input--cross:hover {
  background: #ff7b7b86;
}

.input {
  display: inline-block;
}

.input--invis {
  display: none;
}

.user--error {
  position: relative;
  margin: 10px;
  font-size: 20px;
  color: #e48181;
}

.user--error---invis {
  display: none;
}
