/* imports */

/* Readex Pro [Bold 700] */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap');

/* Readex Pro [Regular 400] */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

/* general */

body {
  font-family: 'Readex Pro';
  background: #0A0F24;
  color: #FFFFFF;
  overflow-x: hidden;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

input {
  position: relative;
  display: inline-block;
  font-family: 'Readex Pro';
  color: #5F5F5F;
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px;
  border-radius: 4px;
  border: 2px solid #B3B3B3;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5.5%;
}

input:focus {
  outline: 2px solid #A97BFF;
}

/* footers will display on the home page [ src/components/footer.js ] */

.footer {
  position: relative;
  background: #090D1B;
  width: 100%;
  padding: 10px;
}

.footer--text {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  margin-right: 7px;
}

.footer--text-bold {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  margin-right: 7px;
}

.footer--link {
  display: inline-block;
  margin-right: 7px;
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  color: #A97BFF;
  text-decoration: underline;
}

/* nav-button (these will be displayed on all pages) */

.nav-button--selected {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 20px;
  margin: 20px;
  border-bottom: 3px solid #A97BFF;
  padding-bottom: 5px;
  z-index: 1;
}

.nav-button--notselected {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 20px;
  margin: 20px;
  padding-bottom: 5px;
  z-index: 1;
}

.nav-button--notselected:hover {
  border-bottom: 3px solid #A97BFF86;
}

.nav-button--arrow {
  position: relative;
  display: inline-block;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 20px;
  margin: 20px;
  z-index: 1;
}

/* Sign up and log in related CSS */

.buttons--wrapper {
  margin-top: -70px;
  text-align: right;
}

.log-in--button {
  position: relative;
  display: inline-block;
  border: 2px solid #A97BFF86;
  border-radius: 4px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 20px;
  margin: 10px;
}

.log-in--button---invis {
  display: none;
}

.log-in--button:hover {
  background: #A97BFF86;
}

/* forgot password CSS */

.log-in--pass--wrapper {
  text-align: center;
}

.log-in--pass {
  position: relative;
  display: inline-block;
  font-size: 17px;
  color: #FFFFFF;
}

.log-in--pass---link {
  position: relative;
  display: inline-block;
  font-size: 17px;
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
  color: #A97BFF;
}

/* Rest of buttons */

.sign-up--button {
  position: relative;
  display: inline-block;
  border: 2px solid #A97BFF86;
  border-radius: 4px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 20px;
  margin: 10px;
}

.sign-up--button---invis {
  display: none;
}

.sign-up--button:hover {
  background: #A97BFF86;
}

/* user display */

.user--email {
  display: inline-block;
  font-size: 20px;
  color: #FFFFFF;
  margin: 10px;
}

.user--email---invis {
  display: none;
}

.user--email---logout {
  position: relative;
  display: inline-block;
  border: 2px solid #A97BFF86;
  border-radius: 4px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 20px;
  margin: 10px;
}

.user--email---logout----invis {
  display: none;
}

.user--email---logout:hover {
  background: #A97BFF86;
}

/* home.js / browse.js [ src/pages/home.js / src/pages/browse.js ] */ 

.bg {
  position: absolute;
  background-image: url(./images/page_images/bg.png);
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

/* home.js [ src/pages/home.js ] */

.heading--wrapper {
  margin-top: 25%;
  margin-left: 5%;
}

.heading {
  display: inline-block;
  position: relative;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 100px;
}

.heading--type {
  display: inline-block;
  background: #E0E0E0;
  opacity: 0.5;
  width: 50px;
  height: 100px;
  animation: heading--type 1s infinite;
}

@keyframes heading--type {
  0% {
    opacity: 0;
  } 49% {
    opacity: 0; 
  } 50% {
    opacity: 0.5;
  } 100% {
    opacity: 0.5;
  }
}

.heading-desc {
  position: relative;
  font-weight: 400;
  color: #A97BFF;
  font-size: 20px;
  margin-left: 5.5%;
}

.browse-link {
  position: relative;
  font-weight: 700;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 20px;
  margin-left: 5.5%;
  margin-top: 5px;
  margin-bottom: 215px;
}

.browse-link:hover {
  text-decoration: underline;
}

/* browse.js [ src/pages/browse.js ] */

.browse-title--wrapper {
  margin-top: 10%;
  margin-left: 5%;
}

.browse-title {
  position: relative;
  display: inline-block;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 75px;
}

.browse-title--desc {
  position: relative;
  font-weight: 400;
  color: #A97BFF;
  font-size: 20px;
  margin-left: 5.5%;
}

.filter {
  position: relative;
  display: inline-block;
  background-image: url(./images/page_images/filter.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #A97BFF86;
  margin-bottom: -28px;
  margin-right: 20px;
  margin-left: 25px;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  width: 50px;
  height: 50px;
}

.filter:hover {
  background-color: #A97BFF86;
}

.atoz {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #A97BFF86;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
}

.atoz:hover {
  background: #A97BFF86;
}

.atoz-invis {
  display: none;
}

.go-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #A97BFF86;
  font-size: 30px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
}

.go-button:hover {
  background: #A97BFF86;
}

.go-button-RENDER {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #A97BFF86;
  font-size: 30px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
}

.go-button-RENDER:hover {
  background: #A97BFF86;
}

.go-button-invis {
  display: none;
}

/* Search error */

.searchError {
  position: relative;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 50px;
}  

.searchErrorInvis {
  display: none;
}


/* gametile.js [ src/components/gametile.js ] */


.game-tile--wrapper {
  display: block;
  margin-left: 60px;
}

.gametile {
  position: relative;
  display: inline-block;
  background: #25293B;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  margin: 20px;
  margin-top: 40px;
  width: 250px;
  height: 430px;
}

.gametile:hover {
  background: #373B47;
}

.gametile--name {
  position: relative;
  font-weight: 700;
  font-size: 35px;
  margin-top: 3px;
}

/* ALL games [ src/pages/games/____.js ] */

.game--name {
  position: relative;
  text-align: center;
  margin-top: 10%;
  font-weight: 700;
  font-size: 75px;
  z-index: 1;
}

.game--desc {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #A97BFF;
  max-width: 30ch;
  font-weight: 700;
  font-size: 20px;
}

/* game tags */

.game-tag--wrapper {
  text-align: center;
  margin: 20px;
}

.game-tag--dot {
  position: relative;
  display: inline-block;
  background: #0A0F24;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* tag variations */

.game-tag--yellow {
  position: relative;
  display: inline-block;
  background: #FDFF7B;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #0A0F24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.game-tag--red {
  position: relative;
  display: inline-block;
  background: #FF7B7B;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #0A0F24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.game-tag--green {
  position: relative;
  display: inline-block;
  background: #91ff7b;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #0A0F24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.game-tag--blue {
  position: relative;
  display: inline-block;
  background: #7bebff;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #0A0F24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.game-tag--pink {
  position: relative;
  display: inline-block;
  background: #ff7bf8;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #0A0F24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

/* game bg */

.game--bg {
  position: absolute;
  opacity: 0.2;
  transform: scale(3);
  margin-left: 43.5%;
}

.game-bg--fade {
  height: 100%;
  width: 100%;
  position:absolute;
  background: -webkit-linear-gradient(left, 
              rgba(10, 15, 36.65) 0%,
              rgba(10, 15, 36, 0) 20%,
              rgba(10, 15, 36, 0) 80%,
              rgba(10, 15, 36.65) 100%
  );
}

/* client.js [ src/components/client.js ] */

.client--wrapper {
  text-align: center;
}

.client-tab {
  position: relative;
  display: inline-block;
  background: #262B3B9D;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px;
  margin: 10px;
  height: 200px;
}

.client-tab:hover {
  background: #343A4D9D;
}

.client-tab--image {
  opacity: 0.2;
}

.client-tab--name {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  margin-top: -210px;
}

.client-tab--desc {
  position: relative;
  font-weight: 700;
  max-width: 25ch;
  font-size: 20px;
  color: #A97BFF;
}

/* client tags */

.client-tag--wrapper {
  text-align: center;
  margin: 10px;
}

.client-tag--dot {
  display: inline-block;
  background: #0A0F24;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* [client] tag variations */

.client-tag--yellow {
  position: relative;
  display: inline-block;
  background: #FDFF7B;
  margin-right: 10px;
  margin-top: 10px;
  color: #0A0F24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.client-tag--red {
  position: relative;
  display: inline-block;
  background: #FF7B7B;
  margin-right: 10px;
  margin-top: 10px;
  color: #0A0F24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.client-tag--green {
  position: relative;
  position: relative;
  display: inline-block;
  background: #91ff7b;
  margin-right: 10px;
  margin-top: 10px;
  color: #0A0F24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.client-tag--blue {
  position: relative;
  display: inline-block;
  background: #7bebff;
  margin-right: 10px;
  margin-top: 10px;
  color: #0A0F24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

.client-tag--pink {
  position: relative;
  display: inline-block;
  background: #ff7bf8;
  margin-right: 10px;
  margin-top: 10px;
  color: #0A0F24;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  height: 20px;
}

/* button wrapper */

.button--wrapper {
  text-align: center;
}

/* sign-up & log-in [ src/pages/signup.js + src/pages/login.js ] */

.form-heading {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 5%;
  font-weight: 700;
  font-size: 75px;
  color: #FFFFFF;
}

.form-heading--desc {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  color: #A97BFF;
}

.form-input--wrapper---a {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.form-input--wrapper---b {
  display: block;
  text-align: center;
}

.password-vis--button {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  padding: 20px;
  color: #FFFFFF;
  border: 2px solid #A97BFF86;
  border-radius: 4px;
}

.password-vis--button:hover {
  background: #A97BFF86;
}

.form-confirm--button {
  position: relative;
  text-align: center;
  margin: 10px auto;
  width: 200px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  color: #FFFFFF;
  border: 2px solid #A97BFF86;
  border-radius: 4px;
}

.form-confirm--button:hover {
  background: #A97BFF86;
}

/* All form errors */

.main-form--error {
  text-align: center;
  position: relative;
  margin: 10px;
  font-size: 20px;
  color: #E48181;
}

.main-form--error---invis {
  display: none;
}

/* Links */

.form-other--wrapper {
  margin-top: 20px;
  position: relative;
  text-align: center;
}

.form-other--text {
  position: relative;
  display: inline-block;
  color: #FFFFFF;
  font-size: 17px;
}

.form-other--link {
  position: relative;
  display: inline-block;
  color: #A97BFF;
  text-decoration: underline;
  margin-left: 5px;
  font-size: 17px;
}

/* Reset.js CSS [ src/pages/reset.js ] */

.reset---wrapper {
  text-align: center;
}

.reset--title {
  position: relative;
  font-size: 75px;
  margin-top: 100px;
  color: #FFFFFF;
  font-weight: 700;
}

.reset--desc {
  position: relative;
  display: block;
  margin: 10px auto;
  font-size: 20px;
  max-width: 30ch;
  color: #A97BFF;
  font-weight: 700;
}

.reset--link---text {
  position: relative;
  display: inline-block;
  font-size: 17px;
  color: #FFFFFF;
}

.reset--link {
  position: relative;
  display: inline-block;
  font-size: 17px;
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
  color: #A97BFF;
}